<li class="nav-item">
    <a href="/home"  class="nav-link active" aria-current="page"style="color: white">
        Home  
    </a>
</li>
<li class="nav-item">
    <a href="/users" class="nav-link" style="color: white">
        Users
    </a>
</li>
<li class="nav-item">
    <a href="/tasks" class="nav-link" style="color: white">
        Tasks 
    </a>
</li>
<li class="nav-item">
    <a href="/reports" class="nav-link" style="color: white">
        Reports
    </a>
</li>
<li class="nav-item">
    <a href="/statistics" class="nav-link" style="color: white">
        Statistics
    </a>
</li>
