{{ template "partials/header-back" . }}

    <div class="">
        <form class="" action="/tasks/{{ .Task.UniqueId }}/add-attachment" method="POST" enctype="multipart/form-data">
            <div class="field">
                <label for=""><strong>Task Name:</strong></label>
                <input class="form-control" type="text" value="{{ .Task.TaskName }}" id="" readonly>
            </div>
            <div class="field">
                <label for=""><strong>Attachment:</strong></label>
                <input class="form-control" type="file" name="attachment" required autofocus>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/tasks/{{ .Task.UniqueId }}/details" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>

{{ template "partials/footer-back" . }}