{{ template "partials/header-back" . }}

    <div class="" style="width: 80%;">
        <form class="" action="/tasks/search" method="POST">
            <table>
                <tr>
                    <td><input style="width: 400px;" type="text" name="search_param" id="" placeholder="Search By Task Name, User or Status" required autofocus></td>
                    <td><button type="submit" class="btn btn-sm btn-primary">Search</button></td>
                </tr>
            </table>
        </form>
    </div>
    
{{ template "partials/footer-back" . }}