{{ template "partials/header-auth" . }}

    <form action="/auth/login" method="POST">
        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div class="checkbox mb-3">
            Forgot password? click <a href="/auth/get-recovery-link">Here</a>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
  </form>

{{ template "partials/footer-auth" . }}