{{ template "partials/header-auth" . }}

    <form action="/auth/login" method="POST">
        <img class="mb-4" src="/image/logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">{{ .Title }}</h1>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingNewPassword" name="new_password" placeholder="Password">
            <label for="floatingPassword">New Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingConfPassword" name="conf_password" placeholder="Password">
            <label for="floatingPassword">Password Confirmation</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <div class="checkbox mb-3">
            <a href="/auth/login">Login</a>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>

{{ template "partials/footer-auth" . }}