{{ template "partials/header-back" . }}

    <div class="">
        <p><strong>Id: </strong>{{ .User.UserId }}</p>
        <p><strong>Userame: </strong>{{ .User.UserName }}</p>
        <p><strong>Role: </strong>{{ .User.RoleName }}</p>
        <p><strong>Active: </strong>{{ .User.Active }}</p>
        <p><strong>Created at: </strong>{{ .User.CreatedAtStr }}</p>
        <p><strong>Updated at: </strong>{{ .User.UpdatedAtStr }}</p>
        <div align="right">
            {{ if ne .User.UserId .LoggedUser.UserId}}
                {{ if eq .User.Active "Yes"}}
                    <a href="/users/{{ .User.UniqueId }}/deactivate" class="btn btn-danger">
                        Deactivate
                    </a>
                {{ else }}
                    <a href="/users/{{ .User.UniqueId }}/activate" class="btn btn-primary">
                        Activate
                    </a>
                {{ end }}
            {{ end }}
            <a href="/users/{{ .User.UniqueId }}/edit" class="btn btn-primary">
                Edit User
            </a>
        </div>
    </div>    

{{ template "partials/footer-back" . }}