{{ template "partials/header-back" . }}

    <div class="">
        <div class="">
            <div align="right">
                <a href="/users/add" class="btn btn-primary">Add</a>
                <a href="/users/search" class="btn btn-primary">Search</a>
            </div>
            {{ if .Count }}
                <p><b>Total: </b>{{ .Count }}</p>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>Role</th>
                            <th>Active?</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Users }}
                            <tr class=" {{ if eq .Active "Yes"}} alert-success {{ else }} alert-danger {{ end }}">
                                <td class="collapsing">{{ .UserId }}</td>
                                <td>{{ .UserName }}</td>
                                <td>{{ .RoleName }}</td>
                                <td>{{ .Active }}</td>
                                <td>
                                    <a class="btn btn-primary" href="/users/{{ .UniqueId }}/details">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div>
                    {{ if .Pagination.PrevPage }}
                        <a href="/users?page={{ .Pagination.PrevPage }}" class="btn btn-link btn-sm"><< Previous Page</a> | 
                    {{ end }}
                    {{ if .Pagination.NextPage }}
                        <a href="/users?page={{ .Pagination.NextPage }}" class="btn btn-link btn-sm">Next Page >></a>
                    {{ end }}
                </div>
            {{ else }}
                <div class="alert alert-warning">
                    No Records Found!
                </div>
            {{ end }}
        </div>
    </div>
        
{{ template "partials/footer-back" . }}